<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments_employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h1>部门员工</h1>
    <div th:each="department: ${departments}">
        <!-- Employees table -->
        <div th:text="${department.dname}"></div>
        <table class="table">
            <thead>
            <tr>
                <th>员工编号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${department.employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.username}"></td>
                <td th:text="${employee.age}"></td>
                <td th:text="${employee.sex}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/departments}" class="btn btn-info btn-sm">返回部门</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>